name: CI

on:
  push:
    branches: ['**']
    paths: &code_paths
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - 'Dockerfile'
      - '.github/workflows/main.yml'
      - '.github/workflows/_ci.yml'
      - '.github/workflows/_docker.yml'
  pull_request:
    paths: *code_paths

jobs:
  ci:
    name: CI
    uses: ./.github/workflows/_ci.yml

  docker-latest:
    name: Docker latest
    needs: ci
    if: >-
      github.event_name == 'push'
      && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master')
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/_docker.yml
    with:
      tags: |
        ghcr.io/retyc/retyc-cli:latest
        retyc/retyc-cli:latest
      version: latest
    secrets: inherit
